
.DS_Store
build/pluginTest.build/Debug-iphoneos/pluginTest.build/dgph
build/pluginTest.build/Debug-iphoneos/pluginTest.build/dgph~
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/dgph
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/dgph~
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/libpluginTest.dylib-Simulated.xcent
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/Objects-normal/x86_64/main.d
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/Objects-normal/x86_64/main.dia
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/Objects-normal/x86_64/main.o
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/Objects-normal/x86_64/pluginTest.LinkFileList
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/pluginTest-all-non-framework-target-headers.hmap
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/pluginTest-all-target-headers.hmap
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/pluginTest-generated-files.hmap
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/pluginTest-own-target-headers.hmap
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/pluginTest-project-headers.hmap
build/pluginTest.build/Debug-iphonesimulator/pluginTest.build/pluginTest.hmap
